.container{ 
     height: auto;
h1{
    color: var(--white);
    text-align: center;
padding-top: 120px
}h3{
    text-align: center;
   padding-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  
    line-height: 40px;
    color: var(--white);
    margin: 60px;
    font-size: 24px;
    font-style: normal;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
